<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/users/add" method="post">
    <input type="text" name="name" placeholder="input name">
    <input type="text" name="surname" placeholder="input surname">
    <input type="text" name="email" placeholder="input email">
    <select name="role" >
        <option value="MANAGER">MANAGER</option>
        <option value="USER">USER</option>

    </select>
    <input type="submit" value="add user">


</form>

</body>
</html>